<fa name="cog" animation="spin" [ngClass]="{ 'hidden': !loading }"></fa>
<div *ngIf="!loading" class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div
          [ngClass]="displayFieldCss('phoneNumber')"
          class="form-group">
          <app-text-input
            [name]="'phoneNumber'"
            [group]="form"
            [label]="'Numer telefonu: '"></app-text-input>
          <app-basic-error-view
            [displayError]="isFieldValid('phoneNumber')"
            errorMsg="Podaj prawidłowy numer telefonu!">
          </app-basic-error-view>
        </div>

        <app-select-input
          [group]="form"
          [items]="mapSexesToSelectItems()"
          name="sex"
          label="Płeć: "></app-select-input>


        <app-date-input
          [group]="form"
          name="birthDay"
          label="Data urodzin: "></app-date-input>

        <div
          [ngClass]="displayFieldCss('email')"
          class="form-group">
          <app-text-input
            [name]="'email'"
            [group]="form"
            [label]="'Email: '"></app-text-input>
          <app-basic-error-view
            [displayError]="isFieldValid('email')"
            errorMsg="Podaj prawidłowy mail!">
          </app-basic-error-view>
        </div>

        <div
          [ngClass]="displayFieldCss('name')"
          class="form-group">
          <app-text-input
            [name]="'name'"
            [group]="form"
            [label]="'Imie: '"></app-text-input>
          <app-basic-error-view
            [displayError]="isFieldValid('name')"
            errorMsg="Podaj prawidłowe imie!">
          </app-basic-error-view>
        </div>

        <div
          [ngClass]="displayFieldCss('surname')"
          class="form-group">
          <app-text-input
            [name]="'surname'"
            [group]="form"
            [label]="'Nazwisko: '"></app-text-input>
          <app-basic-error-view
            [displayError]="isFieldValid('surname')"
            errorMsg="Podaj prawidłowe nazwisko!">
          </app-basic-error-view>
        </div>

        <div class="form-group">
          <app-select-input
            [group]="form"
            [items]="mapMarketStatusesToSelectItem()"
            name="marketStatus"
            label="Status na rynku pracy: "></app-select-input>
        </div>

        <app-select-input
          [group]="form"
          [items]="mapEducationsToSelectItems()"
          label="Wyksztalcenie: "
          name="education"></app-select-input>

        <app-select-input
          [group]="form"
          [items]="mapAreasOfResidenceToSelectItems()"
          label="Region zamieszkania: "
          name="areaOfResidence"></app-select-input>


        <div class="row">
          <div class="col-md-6">
            <label for="voivodeship">Wojewodztwo:</label>
            <select
              (change)="onVoivodeshipChange($event.target.value)"
              formControlName="voivodeship"
              class="form-control"
              id="voivodeship">
              <option *ngFor="let voivodeship of voivodeships" value="{{voivodeship.id}}"> {{voivodeship.voivodeshipName}}</option>
            </select>
            <app-basic-error-view
              [displayError]="isFieldValid('voivodeship')"
              errorMsg="Wojewodztwo jest wymagane!">
            </app-basic-error-view>
          </div>
          <div class="col-md-6">
            <label for="county">Powiat:</label>
            <select
              formControlName="county"
              class="form-control"
              id="county">
              <option *ngFor="let county of counties" value="{{county.id}}"> {{county.countyName}}</option>
            </select>
          </div>
        </div>

        <div class="form-check" >
          <label for="disability">Osoba z zaświadczeniem o niepełnosprawności:</label>
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="disability"
            id="disability">
        </div>

        <app-text-area-input
          [group]="form"
          name="note"
          label="Uwagi: ">
        </app-text-area-input>

        <div class="form-group">
          <label for="upload">Załącz pliki</label>
          <input id="upload" class="btn btn-primary" type="file">
        </div>

        <button
          class="btn btn-primary"
          type="submit" [disabled]="!form.valid">Wyślij zgłoszenie</button>
      </form>
    </div>
  </div>
</div>
