<div class="container">
  <fa name="cog" animation="spin" [ngClass]="{ 'hidden': !loading }"></fa>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div style="color: green;" *ngIf="instructor">
        <p>
          Zalogowano jako {{instructor.email}}
        </p>
        <p>
          Admin: {{instructor.isAdmin}}
        </p>
        <p>
          Aktywny: {{instructor.isActivated}}
        </p>
      </div>
      <h2>Logowanie:</h2>
      <form [formGroup]="form"
            (ngSubmit)="onSubmit()">
        <app-text-input
          [group]="form"
          label="email"
          name="email"></app-text-input>
        <app-text-input
          [group]="form"
          label="Haslo"
          name="password"></app-text-input>
        <button
          [disabled]="!form.valid"
          class="btn btn-primary"
          type="submit">Zaloguj</button>
      </form>
    </div>
  </div>
</div>
