<div style="text-align: center">
  <h4>Filtry:</h4>
</div>
<label for="filter-voivodeships">Województwa: </label>
<div style="text-align: center">
  <app-multi-select-ui-input
    id="filter-voivodeships"
    [items]="voivodeshipsSelectItems"
    (selectionChange)="onVoivodeshipsSelectionChange($event)"></app-multi-select-ui-input>
</div>
<hr>
<label for="filter-voivodeships">Kategorie: </label>
<div style="text-align: center">
  <app-multi-select-ui-input
    id="filter-categories"
    [items]="categoriesSelectItems"
    (selectionChange)="onCategoriesSelectionChange($event)"></app-multi-select-ui-input>
</div>

