<div class="container" *ngIf="user">
  <div class="row">
    <div class="row">
      <table>
        <tr>
          <td>Imie i nazwisko</td>
          <td>{{user.name}} {{user.surname}}</td>
        </tr>
        <tr>
          <td>Numer telefonu</td>
          <td>{{user.phoneNumber}}</td>
        </tr>
        <tr>
          <td>Miejsce amieszkania</td>
          <td>{{user.voivodeship.voivodeshipName}} - {{user.county != null ? user.county.countyName : ''}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <td>Rok Urodzenia</td>
          <td>{{user.birthYear}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>{{user.marketStatus.status}}</td>
        </tr>
        <tr>
          <td>Wyksztalcenie</td>
          <td>{{user.education.educationType}}</td>
        </tr>
        <tr>
          <td>Plec</td>
          <td>{{user.sex.name}}</td>
        </tr>
      </table>
      <p>
        <a (click)="onSendEmailClick()">
          <span class="glyphicon glyphicon-envelope"></span>
        </a>
        Wyslij wiadomosc
      </p>
      <p>
        <a (click)="onEditClick()">
          <span class="    glyphicon glyphicon-edit"></span>
        </a>
        Edytuj
      </p>
    </div>
    <hr>
    <div class="row">
      <h3>Szkolenia na które się zapisał</h3>
      <div *ngIf="user.entries.length > 0; else noEntries">
        <app-simple-list
          [items]="mapUserEntriesToListItem()"></app-simple-list>
      </div>
      <ng-template #noEntries>
        <p>Użytkownik nie zapisał się na żadne szkolenie</p>
      </ng-template>
    </div>
    <div class="row">
      <h3>Historia zmian</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let log of logs">
          {{log.changeDate | date:'yyyy-MM-dd hh:mm'}} - Zmiana danych: {{userPropertiesMap[log.propertyName]}} z {{log.oldValue}} na {{log.newValue}} przez {{log.byWho}}
        </li>
      </ul>
    </div>
    <div class="row">
      <h3>Uwagi</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let note of user.notes">
          {{note.description}}
        </li>
      </ul>
    </div>
    <div class="row">
      <h3>Komentarze</h3>
      <span
        (click)="onAddCommentClick()"
        class="glyphicon glyphicon-plus"></span>
      <app-simple-list
        [items]="mapCommentsToListItem()"></app-simple-list>
    </div>
  </div>
</div>



