<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <div class="row">
          <app-trainings-sort
            [sortingCriteria]="trainingsSortingCriteria"
            (onSortingChanged)="onSortingChanged($event)"></app-trainings-sort>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <app-trainings-filter
          (onFilterChanged)="onFilterChanged($event)"></app-trainings-filter>
      </div>

      <div class="col-sm-10">
        <app-trainings-home-list
          [trainings]="trainings"
          [paginationOption]="paginationOptions"></app-trainings-home-list>
        <div style="text-align: center;">
          <pagination-controls
            (pageChange)="getPage($event)"
            id="pagination"
            previousLabel="Poprzednia"
            nextLabel="Nastepna">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


